<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{${LOG_DATEFORMAT_PATTERN:-HH:mm:ss.SSS}}) %-42.150([%green(%t) /%highlight(${LOG_LEVEL_PATTERN:-%5p})]) %-18.80logger{39}: %m%n
            </pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
